@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aquí va el modelo del Avatar</h1>

            <model-viewer src="https://modelviewer.dev/shared-assets/models/Astronaut.glb"
              ios-src="https://modelviewer.dev/shared-assets/models/Astronaut.usdz" ar-modes="webxr scene-viewer quick-look" poster="poster.webp" shadow-intensity="1"
              alt="A 3D model of an astronaut"
              ar
              camera-controls></model-viewer>

              <model-viewer bounds="tight" enable-pan src="https://res.cloudinary.com/usmp/image/upload/v1648082823/RobotTest_ms0i8b.glb" ar ar-modes="webxr scene-viewer quick-look" 
              camera-controls poster="poster.webp" shadow-intensity="1" environment-image="spruit_sunrise_1k_HDR.hdr">
              </model-viewer>

<model-viewer bounds="tight" enable-pan src="https://modelviewer.dev/shared-assets/models/RobotExpressive.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls environment-image="neutral" poster="poster.webp" shadow-intensity="15" autoplay animation-name="Death">

    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
</model-viewer>
<model-viewer bounds="tight" enable-pan src="https://modelviewer.dev/shared-assets/models/RobotExpressive.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls environment-image="spruit_sunrise_1k_HDR.hdr" poster="poster.webp" shadow-intensity="15" autoplay animation-name="Idle">

    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
</model-viewer>
<model-viewer bounds="tight" enable-pan src="https://modelviewer.dev/shared-assets/models/RobotExpressive.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls environment-image="neutral" poster="poster.webp" shadow-intensity="15" autoplay animation-name="Wave">

    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
</model-viewer>



</div>
<div class="sketchfab-embed-wrapper"> <iframe title="Bee Blader" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/43c46b1c56fe4718aa5852da1bdc8e57/embed?preload=1"> </iframe> <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a href="https://sketchfab.com/3d-models/bee-blader-43c46b1c56fe4718aa5852da1bdc8e57?utm_medium=embed&utm_campaign=share-popup&utm_content=43c46b1c56fe4718aa5852da1bdc8e57" target="_blank" style="font-weight: bold; color: #1CAAD9;"> Bee Blader </a> by <a href="https://sketchfab.com/Modelrom?utm_medium=embed&utm_campaign=share-popup&utm_content=43c46b1c56fe4718aa5852da1bdc8e57" target="_blank" style="font-weight: bold; color: #1CAAD9;"> Modelrom </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=43c46b1c56fe4718aa5852da1bdc8e57" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p></div>
