@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="text-center">
    <h1 class="display-4">Aquí va el modelo del EL ROBOT QUE NO CARGAAA!</h1>

<model-viewer id="reveal" loading="eager" camera-controls auto-rotate  
src="https://res.cloudinary.com/usmp/image/upload/v1648082823/RobotTest_ms0i8b.glb"></model-viewer>

<model-viewer bounds="tight" enable-pan src="https://immersive-web.github.io/webxr-samples/media/gltf/reticle/reticle.gltf" ar ar-modes="webxr scene-viewer quick-look" camera-controls environment-image="aircraft_workshop_01_1k.hdr" poster="poster.webp" shadow-intensity="1">

    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <button slot="ar-button" id="ar-button">
        View in your space
    </button>
    <div id="ar-prompt">
        <img src="https://modelviewer.dev/shared-assets/icons/hand.png" alt="Mano">
    </div>
</model-viewer>

<img src="~/img/PrroPro.jpg" alt="ASP.NET" style="width:350px;height:260px">
<img src="https://github.com/EduardoGianfranco/ModelViewerTest/blob/main/modviewer/wwwroot/img/PrroPro.jpg" alt="ASP" style="width:350px;height:260px">
